<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Webpage Title -->
        <title>나만의 운동일지</title>

        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <!-- 구글폰트 -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

        <style type="text/css">

            * {
                font-family: 'Jua', sans-serif;
            }

            .wrap {
                width: 700px;
                margin: auto;
            }

            .img {
                background-image: url('https://thumb.mt.co.kr/06/2020/07/2020071306041282917_1.jpg/dims/optimize/');
                background-size: cover;
                background-position: center;
                width: 500px;
                height: 600px;
                margin: auto;
            }

            .info {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            h1, h5 {
                display: inline;
            }

            .order {
                text-align: center;
            }

            .orders {
                margin-top: 100px;
            }
        </style>

        <script>

            $(document).ready(function () {
                $("#workout-box").html("");
                showworkout();
            });

            function workoutOrders() {
                let part = $('#workout_part').val();
                let part2 = $('#workout_part2').val();
                let weight = $('#workout_weight').val();
                let count = $('#workout_count').val();
                let total = $('#workout_total').val()

                if (part == '') {
                    alert('운동부위를 선택해주세요')
                    $('#workout_part').focus()
                    return
                } else if (part2 == '') {
                    alert('운동부위를 입력해주세요')
                    $('#workout_part2').focus()
                    return
                } else if (weight == '') {
                    alert('운동무게를 입력해주세요')
                    $('#workout_weight').focus()
                    return
                } else if (count == '') {
                    alert('운동 횟수를 입력해주세요')
                    $('#workout_count').focus()
                    return
                }

                $.ajax({
                    type: "POST",
                    url: "/workout",
                    data: {
                        part_give: part,
                        part2_give: part2,
                        weight_give: weight,
                        count_give: count,
                        total_give: total
                    },
                    success: function (response) {
                        // if (response['result'] == 'success') {
                        //     let orders = response['orders'];
                        //
                        //     console.log(orders)
                        //
                        //     for (let i = 0; i < orders.length; i++) {
                        //         workoutOrderRow(orders[i]['part'], orders[i]['part2'], orders[i]['weight'], orders[i]['count'], orders[i]['total'])
                        //     }
                        // } else {
                        //     alert('주문을 받아오지 못했습니다');
                        // }
                    }
                })
            }



            function showworkout() {
                // 1. 리뷰 목록을 서버에 요청하기

                // console.log('working');

                $.ajax({
                    type: "GET",
                    url: "/workout",
                    data: {},
                    success: function (response) {
                        // 2. 요청 성공 여부 확인하기
                        if (response["result"] == "success") {
                            let orders = response["orders"];
                            // console.log(orders);

                            // 3. 요청 성공했을 때 리뷰를 올바르게 화면에 나타내기
                            for (let i = 0; i < orders.length; i++) {
                                workoutOrderRow(orders[i]["part"], orders[i]["part2"], orders[i]["weight"], orders[i]["count"], orders[i]["total"] );
                            }
                        } else {
                            alert("운동결과를 받아오지 못했습니다");
                        }
                    }
                })
            }

            function workoutOrderRow(part, part2, weight, count, total) {
                console.log('working')
                let tempHtml = `<tr>
                                <td>${part}</td>
                                <td>${part2}</td>
                                <td>${weight}</td>
                                <td>${count}</td>
                                <td>${total}</td>
                              </tr>`;
                console.log(tempHtml);
                $("#workout-box").append(tempHtml);
            }

            function calculate() {
                let weigt = $('#workout_weight').val();
                let count = $('#workout_count').val();
                let total = weigt * count
                let calTotal = `<li> ${total} </li>`
                $('#workout_total').append(calTotal);
            }
        </script>
    </head>
    <body>
        <div class="wrap">
            <div class="img"></div>
            <div class="info">
                <h1>나만의 운동일지</h1>
                <p>나의 운동을 기록하는 곳입니다. 운동량을 입력하고 운동량 확인을 위한 것입니다.</p>
                <p> 운동 좀 꾸준히 하자 </p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">운동부위</label>
                    </div>
                    <select class="custom-select" id="workout_part">
                        <option selected value=""> -- 운동부위를 선택하세요 --</option>
                        <option value="PUSH">PUSH</option>
                        <option value="2">PULL</option>
                        <option value="3">LEG</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">부위</span>
                    </div>
                    <input type="text" class="form-control" id="workout_part2">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">무게(KG)</span>
                    </div>
                    <input type="text" class="form-control" id="workout_weight">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">횟수(회)</span>
                    </div>
                    <input type="text" class="form-control" id="workout_count">
                </div>
                <div class="order">
                <button onclick="calculate()" type="button" class="btn btn-light">계산하기</button>
                </div>
                <div class="input-group mb-3">
                    총 운동량 :
                    <ul id="workout_total"></ul>
                </div>
                <div class="order">
                    <button onclick="workoutOrders()" type="button" class="btn btn-light">입력하기</button>
                </div>
            </div>
            <div class="orders">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">일자</th>
                        <th scope="col">운동부위</th>
                        <th scope="col">부위</th>
                        <th scope="col">무게</th>
                        <th scope="col">횟수</th>
                        <th scope="col">총 운동량</th>
                        <th scope="col">기타</th>
                    </tr>
                    </thead>
                    <tbody id="workout-box">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button onclick="delete_data()" type="button" class="btn btn-light">삭제하기</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>